/* "use strict";
eval("__webpack_require__.r(__webpack_exports__);
/* harmony export */ __webpack_require__.d(__webpack_exports__, {
  /* harmony export */   \"default\": () => (__WEBPACK_DEFAULT_EXPORT__)\n/* harmony export */ });
  /* harmony import */ var _node_modules_css_loader_dist_runtime_noSourceMaps_js__WEBPACK_IMPORTED_MODULE_0__ = __webpack_require__(/*! ../../node_modules/css-loader/dist/runtime/noSourceMaps.js */ 
  "./node_modules/css-loader/dist/runtime/noSourceMaps.js\");
  /* harmony import */ var _node_modules_css_loader_dist_runtime_noSourceMaps_js__WEBPACK_IMPORTED_MODULE_0___default = 
  /*#__PURE__*/__webpack_require__.n(_node_modules_css_loader_dist_runtime_noSourceMaps_js__WEBPACK_IMPORTED_MODULE_0__);
  /* harmony import */ var _node_modules_css_loader_dist_runtime_api_js__WEBPACK_IMPORTED_MODULE_1__ 
  __webpack_require__(/*! ../../node_modules/css-loader/dist/runtime/api.js */ \"./node_modules/css-loader/dist/runtime/api.js\");
  /* harmony import */ var _node_modules_css_loader_dist_runtime_api_js__WEBPACK_IMPORTED_MODULE_1___default 
  /*#__PURE__*/__webpack_require__.n(_node_modules_css_loader_dist_runtime_api_js__WEBPACK_IMPORTED_MODULE_1__);
  // Imports\n\n\nvar ___CSS_LOADER_EXPORT___ = _node_modules_css_loader_dist_runtime_api_js__WEBPACK_IMPORTED_MODULE_1___default()(
    (_node_modules_css_loader_dist_runtime_noSourceMaps_js__WEBPACK_IMPORTED_MODULE_0___default()));
    // Module\n___CSS_LOADER_EXPORT___.push([module.id, \"
     */

  .title {
    font-size: 24px;
    ont-family: 'FreeMono';
    text-align: center;
    stroke: #000000;
  }

  .content {
    font-size: 16px;
    font-family: 'FreeMono';
  }

  .preparing {
    font-style: italic;
    font-size: 24px;
    font-family: 'FreeMono';
    text-align: center;
  }

  .preparing__content {
    font-family: 'FreeMono';
    font-size: 16px;
  }

  .recipe__container {
    fill: none;
    stroke: black;
    stroke-width: 1;
  }

  .bold {
    font-weight: bold;
  }
